<mat-toolbar color="primary">
  <mat-toolbar-row class="title-row">
    <span class="title">Angular Materials Examples</span>
    <div class="linkedin-container">
      <span>Brian Kemp</span>
      <button mat-button disableRipple="true" class="title-button" (click)="navigateToLinkedIn()">
        <img src="/assets/LinkedIn_Icon.svg"/>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="button-row">
    <button mat-button (click)="navigateToPage(PageTypes.MatTabs)" class="button" aria-label="Mat Tabs Button">
      Mat-Tabs
    </button>
    <button mat-button (click)="navigateToPage(PageTypes.Forms)" class="button" aria-label="Forms Button">Forms</button>
  </mat-toolbar-row>
</mat-toolbar>
